nav {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
}

/* Tweeter top left */
.title {
  font-size: 2.25em;
  font-family: "Bungee";
}

/* Text Block top right */
.write {
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans 3', sans-serif;
}

.bold {
  font-weight: bold;
}

/* Top right of Nav */
.new-tweet-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrows {
  color: #e01010;
  margin-top: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {
  nav {
  background-color: #3d8b91;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  }
}
