.tweet-and-count {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  font-family: "Bungee";
}

.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

textarea#tweet-text {
  display: flex;
  margin-top: 0.5em;
  font-weight: bold;
  background-color: #f4f1ec;
  width: 100%;
  border: none;
  resize: none;
}

hr {
  color: #555555;
  background-color: #555555;
  border-style: solid;
  height: 4px;
}

button {
  background-color: #4056a1;
  color: #FFFFFF;
}

.counter.exceeded {
  color: red;
}

article {
  border: red 5px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: space-between;
}